<!--
<h1>Welcome {{name}}</h1>

<button (click)="clickButton()"><img [src]="imageUrl" class="image-button"/></button>

<div *ngIf="isLoggedIn">
  <h1>WELCOME {{name}}</h1>
  <button (click)="logout()"> Logout </button>
</div>

<div *ngIf="!isLoggedIn">
  <h1>USER NOT LOGGED</h1>
  <button (click)="login()"> Login </button>
</div>

<p *ngIf="isLoggedIn; else notLoggedIn"> You are Logged!</p>

<ng-template #notLoggedIn>
  <p> You are not Logged!</p>
</ng-template>

<ul>
  <li *ngFor="let item of items">
    {{item}}
  </li>
</ul>

<ul>
  <li *ngFor="let item of items; let i = index">
    {{i}} -> {{item}}
  </li>
</ul>

<div [ngClass]="{'highlight': isActive}">
  Conditional Class
</div>

<div [ngStyle]="{'color': textColor, 'font-size': fontSize + 'px'}">
  Style with Directive
</div>

<app-counter [name]="counterName"></app-counter>

<app-list-products></app-list-products> -->

<router-outlet></router-outlet>
